<template>
    <div class="lds-css ng-scope">
        <div style="width:100%;height:100%" class="lds-ripple-white">
            <div></div>
            <div></div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style type="text/css">
    @keyframes lds-ripple-white {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }
    @-webkit-keyframes lds-ripple-white {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }
    .lds-ripple-white {
        position: relative;
    }
    .lds-ripple-white div {
        box-sizing: content-box;
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        -webkit-animation: lds-ripple-white 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        animation: lds-ripple-white 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple-white div:nth-child(1) {
        border-color: #ffffff;
    }
    .lds-ripple-white div:nth-child(2) {
        border-color: #ffffff;
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }
    .lds-ripple-white {
        width: 28px !important;
        height: 28px !important;
        -webkit-transform: translate(-14px, -14px) scale(0.14) translate(14px, 14px);
        transform: translate(-14px, -14px) scale(0.14) translate(14px, 14px);
    }
</style>