<template>
    <div>
        <doing v-if=" status === 'doing' "></doing>
        <done v-else-if=" status === 'done' "></done>
        <todo v-else></todo>
    </div>
</template>

<script>
    import todo from "./TaskTodo"
    import doing from "./TaskDoing"
    import done from "./TaskDone"

    export default {
        components : {
            todo,
            doing,
            done
        },
        props: {
            status : {
                type : String,
                required : true
            }
        }
    }
</script>

<style type="text/css">

</style>