<template>
    <div class="circle-box" style="text-align:center">
        <div>
            <span class="dot"></span>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style type="text/css">
    .circle-box{
        height: 28px;
        width: 28px;
    }
    .dot{
        height: 9px;
        width: 9px;
        vertical-align: middle;
        opacity: 0.8;
        background-color: #132a13;
        border-radius: 50%;
        display: inline-block;
    }

</style>