<template>
    <section>
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="control has-icons-left has-icons-right">
                    <form @submit="submitForm">
                        <input class="input is-medium is-success" type="text" name="TASK_NAME" v-model="task.name" placeholder="Add a ToDo Here" @click="showIsTimed()">
                        <label class="checkbox" v-if="showIsTimedCheck">
                            Is Timed
                            <input class="" type="checkbox" v-model="task.isTimed"/>
                        </label>

                        <span class="icon is-left">
                            <font-awesome-icon :icon="icon" />
                        </span>
                        <span class="icon is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </form>
                </div>`
            </div>
        </div>
    </section>
</template>

<script>
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import faEdit from '@fortawesome/fontawesome-free-solid/faEdit'
    //import Vuex from 'vuex'
    import Timer from 'easytimer.js'
    export default {
        components: {
            FontAwesomeIcon
        },
        props : {
            list_id : {
                type : Number
            },
            job_id : {
                type : Number
            }
        },
        data(){
            return {
                task : {
                    name : "",
                    isTimed : true,

                },
                showIsTimedCheck: false
            }
        },
        computed: {
            icon () {
                return faEdit
            },
            computedId(){
                let taskState = this.$store.state.tasks;
                return (taskState.length === 0) ? 0 : taskState[taskState.length - 1].id + 1
            }
        },
        methods: {
            submitForm (evt) {
                evt.preventDefault();

                //do validation
                let timerObj = new Timer()
                const items = {
                    id : this.computedId,
                    list_id : this.list_id,
                    job_id : this.job_id,
                    name : this.task.name,
                    isTimed : this.task.isTimed,
                    status : "todo",
                    time : "00:00:00",
                    timer : timerObj,
                    mediaState : "play"
                }

                this.$store.dispatch('addTask', items)
                    .then(()=> {
                        //Reset fields after submit
                        this.task.name = '';
                        this.task.isTimed = true
                        this.showIsTimedCheck = false
                    })
            },
            showIsTimed(){
                this.showIsTimedCheck = true
            }
        }
    }
</script>


