<template>
    <div class="columns task-block" @mouseover="showEditTrash(task.name)" @mouseout="hideEditTrash">
        <div class="column is-offset-1 is-narrow">
            <task-status  :status="task.status" ></task-status>
        </div>
        <div class="column is-7" @click="onTaskCheck(task.id, $event)" v-if=" edit.enabled === false ">
            <p>{{ task.name }}</p>
        </div>
        <div class="column is-7" v-else-if="edit.enabled === true">
            <form @submit="submitEdit($event, task.id)">
                <input class="input is-success" type="text" name="EDIT_TODO_NAME" v-model="edit.name">
            </form>
        </div>
        <div class="column is-narrow">
            <edit-delete :cardHovered="cardHovered" :id="task.id" @edited="enableEdit" @deleted="enableDelete(task.id)"/>
        </div>
        <div class="column">
            <task-timer :timer="task.timer"
                        :timer_id="task.id"
                        :task_status="task.status"
                        :media_state="task.mediaState"
                        :is_timed="task.isTimed"
            />
        </div>
    </div>
</template>

<script>
    import taskStatus from "./status/TaskStatus"
    import editDelete from '../UiComponents/EditDelete'
    import taskTimer from "./TaskTimer"

    export default {
        name : "TaskTab",
        components : {
            editDelete,
            taskTimer,
            taskStatus
        },
        props : {
            task : {
                type : Object
            },
            list : {
                type : Object
            }
        },
        data(){
            return {
                edit : {
                    enabled : false,
                    name : ''
                },
                cardHovered : false,
                selected: "",
            }
        },
        methods : {
            onTaskCheck(id, evt){
                /*this.tasks.map((taskObj)=>{
                    //dispatch updateStatus for the selected task to update its status.
                    if (taskObj.id === id) {*/
                        if (this.task.status === "todo") {
                            //switchTodo to doing
                            this.$store.dispatch('updateStatus',
                                {
                                    index: this.task.id,
                                    status: "doing"
                                }).then(this.selected = id)
                        } else if(this.task.status === "doing"){
                            //switch doing to done
                            this.$store.dispatch('updateStatus',
                                {
                                    index: this.task.id,
                                    status: "done"
                                }).then(this.selected = id)
                        }
                   /* }
                })*/
            },
            showEditTrash(taskName){
                this.edit.name = taskName;
                this.cardHovered = true
            },
            hideEditTrash(){
                this.cardHovered = false
            },
            enableEdit(){
                this.edit.enabled = true
            },
            submitEdit(evt, id){
                evt.preventDefault();
                //dispatch edit
                this.$store.dispatch('updateTask', {index:id, payload:this.edit.name}).then(()=>{
                        this.edit.name = '';
                        this.edit.enabled = false
                    }
                )
            },
            enableDelete(id){
                this.$store.dispatch('deleteTask', id)
            }
        }
    }
</script>