<template>
    <div class="timer-block">
        <span class="timer" :class="timerClassObj" :id="`timer-${timer_id}`">00:00:00</span>
        <font-awesome-icon :class="playerClassObj" :icon="icon" :id="`play-${timer_id}`" @click="player($event)"/>
        <font-awesome-icon :icon="reset" :id="`reset-${timer_id}`" @click="resetTask($event)" />
    </div>
</template>

<script>
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import faPause from '@fortawesome/fontawesome-free-solid/faPause'
    import faPlay from '@fortawesome/fontawesome-free-solid/faPlay'
    import faSyncAlt from '@fortawesome/fontawesome-free-solid/faSyncAlt'

    export default {
        components: {
            FontAwesomeIcon
        },
        props : {
            timer : {
                type : Object
            },
            timer_id : {
                type : Number
            },
            task_status : {
                type : String
            },
            media_state : {
                type : String
            },
            is_timed : {
                type : Boolean
            }
        },

        data(){
            return {
                selected: ""
            }
        },

        computed: {
            icon () {
                if(this.media_state === "pause")return faPlay
                else if(this.media_state === "play") return faPause
            },
            reset(){
                return faSyncAlt
            },
            playerClassObj(){
                return {
                    'el-hidden': this.task_status === "todo" || this.task_status === "done"
                }
            },
            timerClassObj(){
                return {
                    'el-hidden' : this.is_timed || this.task_status === "todo",
                    'has-text-success' : this.task_status === "done"
                }
            }
        },
        watch : {
            task_status: function (status) {
                //Return early if no timer set
                //if(!this.is_timed) return;

                //get timer and play elements
                const timerEl = document.getElementById(`timer-${this.timer_id}`);

                if (status === "todo") {
                    //do stuff if 2do
                }else if( status === "doing" ){
                    this.timer.start();
                    let parent = this;
                    this.timer.addEventListener('secondsUpdated', function (e) {
                        timerEl.innerHTML = parent.timer.getTimeValues().toString()
                    });
                }else if ( status === "done"){
                    this.timer.pause();
                    let parent = this;
                    this.timer.addEventListener('stopped', function (e) {
                        timerEl.innerHTML = parent.timer.getTimeValues().toString()
                    });
                }
            }
        },
        methods : {
            resetTask(event){
                //split id to get index
                const taskIndex = parseInt(event.currentTarget.id.slice(6));
                //update status to 2do when task is reset
                this.$store.dispatch('updateStatus',
                    {
                        index: taskIndex,
                        status: "todo"
                    }).then(()=>{
                    this.selected = taskIndex
                });
                //get current task
                let task = this.$store.getters.getTask(taskIndex);
                //stop timer
                task[0].timer.stop()
            },
            player(event){
                //split id to get index
                const taskIndex = parseInt(event.currentTarget.id.slice(5));
                //get current task
                let task = this.$store.getters.getTask(taskIndex);
                if (task[0].mediaState === "play")
                    //update media to pause then pause the timer
                    this.$store.dispatch('updateMedia',
                        {
                            index: taskIndex,
                            status: "pause"
                        }).then(()=>{
                            task[0].timer.pause()
                        })
                else if (task[0].mediaState === "pause")
                    //update media to play then play the timer
                    this.$store.dispatch('updateMedia',
                        {
                            index: taskIndex,
                            status: "play"
                        }).then(()=>{
                            task[0].timer.start()
                        })
            }
        }
    }
</script>

<style>
    .timer-block {
        display: inline-block;
    }
    .el-hidden {
        visibility: hidden;
    }
</style>

