<template>
    <section class="section">
        <h1 class="has-text-centered is-size-5">{{list.name}}</h1><br/>
        <task-input :list_id="list.id" :job_id="list.job_id"/>
        <div class="container is-fluid">
            <task-tab v-for="task in tasks" :key="task.id" :task="task" :list="list"></task-tab>
            <quick-menu :menu-count=count :icon-class=icons :menu-url-list=menuList position="bottom-right" background-color="#23cd5e" @process="getMenu"></quick-menu>
        </div>
    </section>
</template>

<script>
    import taskTab from "./TaskTab"
    import taskInput from "./TaskNew"

    export default {
        name : "TaskMain",
        components: {
            taskInput,
            taskTab
        },
        props : {
            list : {
                type : Object
            }
        },
        data(){
            return {
                edit : {
                    enabled : false,
                    name : '',
                },

                count : 1,
                icons : ["fas fa-check"],
                menuList : [
                    {isLink:true,url:'/job'}
                ],

            }
        },
        computed: {
            tasks(){
                return this.$store.getters.getTasks.filter((task)=> {
                    return  task.job_id === this.list.job_id && task.list_id === this.list.id
                })
            }
        },
        methods : {
            getMenu(evt){
                //console.log(evt)
            }
        }
    }
</script>

<style>
    .task-block:hover {
        background-color: #eaf2ef;
    }
</style>
