<template xmlns="http://www.w3.org/1999/html">
    <nav class="panel">
        <div class="panel-heading" @mouseover="showEditTrash" @mouseout="hideEditTrash">
            <p v-if=" edit.enabled === false ">
                {{ name }}
                <edit-delete :cardHovered="cardHovered" :id="id" @edited="enableEdit" @deleted="enableDelete(id)"></edit-delete>
            </p>
            <form @submit="submitEdit($event, id)" v-else-if="edit.enabled === true" >
                <input class="input is-success" type="text" name="EDIT_JOB_NAME" v-model="edit.name"/>
            </form>
            <p class="is-size-7">
                <time datetime="2016-1-1">{{ date }}</time>
                <a class="is-pulled-right" @click="openList(id)">View Tasks <font-awesome-icon :icon="iconDown" /></a>
                <span class="is-pulled-right">{{listCount}} - </span>
            </p>

        </div>
        <section v-if="id === selected">
            <div class="panel-block">
                <new-list :job_id="id"></new-list>
            </div>
            <p class="panel-tabs">
                <a class="is-active">all</a>
            </p>

            <router-link :to="{ name: 'task', params: { list : list }}" class="panel-block is-active" v-for="list in lists" :key="list.id">
                <list-tab :list="list"/>
            </router-link>
            <div class="panel-block">
                <button class="button is-link is-outlined is-fullwidth">
                    <router-link to="/list">Open List</router-link>
                </button>
            </div>
        </section>
    </nav>
</template>

<script>
    import faEdit from '@fortawesome/fontawesome-free-solid/faEdit'
    import faTrash from '@fortawesome/fontawesome-free-solid/faTrash'
    import faAngleDown from '@fortawesome/fontawesome-free-solid/faAngleDown'
    import newList from './list/ListNew'
    import listTab from './list/ListTab'
    import editDelete from '../UiComponents/EditDelete'

    export default{
        name : 'JobCards',
        components : {
            newList,
            listTab,
            editDelete
        },
        props : {
            name : {
                type : String
            },
            date : {
                type : String
            },
            id : {
                type : Number
            }
        },
        data(){
            return{
                edit : {
                    enabled : false,
                    name : this.name,
                },
                active: false,
                selected : null,
                cardHovered : false
            }
        },
        computed: {
            lists(){
                return this.$store.getters.getlists.filter((list)=> {return  list.job_id === this.id})
            },
            listCount(){
                let lists =  this.$store.getters.getlists.filter((list)=> {return  list.job_id === this.id})
                return lists.length
            },
            iconDown(){
                return faAngleDown
            },
            iconEdit(){
                return faEdit
            },
            iconDelete(){
                return faTrash
            }
        },
        methods : {
            isActive(){
                (this.active===true)? this.active= false : this.active= true;
            },
            openList(id){
                (this.selected === null) ? this.selected = id : this.selected = null
            },
            showEditTrash(){
                this.cardHovered = true
            },
            hideEditTrash(){
                this.cardHovered = false
            },
            enableEdit(){
                this.edit.enabled = true
            },
            submitEdit(evt, id){
                evt.preventDefault();
                //dispatch edit
                this.$store.dispatch('updateJob', {index:id, payload:this.edit.name}).then(()=>{
                        this.edit.name = '';
                        this.edit.enabled = false
                    }
                )
            },
            enableDelete(id){
                this.$store.dispatch('deleteJob', id)
            }
        }
    }
</script>