<template>
    <section class="section">
        <div class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Primary title
                    </h1>
                </div>
            </div>
        </div>
        <br/>
        <div class="container is-fluid">
            <p>This is a task</p>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>