<template>
    <section class="section">
        <h1 class="has-text-centered is-size-5">All Projects</h1><br/>
        <div class="container is-fluid">
            <no-content v-if="jobs.length === 0"></no-content>
            <new-job-modal :active="newJobActive" @modalClosed="isActive"></new-job-modal>
            <div class="columns is-multiline is-mobile">
                <div class="column is-one-third-desktop is-half-mobile is-half-tablet" v-for="job in jobs">
                    <job-card :name="job.name" :id="job.id" :date="job.date"></job-card>
                </div>
            </div>
            <quick-menu :menu-count=count :icon-class=icons :menu-url-list=list position="bottom-right" background-color="#23cd5e" @process="getMenu"></quick-menu>
        </div>
    </section>
</template>

<script>
    import noContent from "../../app/UiComponents/NoContentTemplate"
    import jobCard from "./JobCards"
    //import quickMenu from 'vue-quick-menu'
    import newJobModal from './JobNew'
    import Vuex from 'vuex'

    export default{
        name : "JobMain",
        components : {
            noContent,
            jobCard,
            //quickMenu,
            newJobModal
        },
        data(){
            return {
                newJobActive : false,
                count : 1,
                icons : ["fas fa-check"],
                list : [
                    {isLink:false,url:''}
                ]
            }
        },
        computed: {
            ...Vuex.mapGetters({
                jobs : 'getJobs'
            })
        },
        methods : {
            isActive(){
                (this.newJobActive === true) ? this.newJobActive= false : this.newJobActive= true;
            },
            getMenu(evt){
                //console.log(evt)
                if(evt === 0) this.newJobActive = true
            }
        }
    }
</script>

<style>

</style>