<template>
    <section class="hero is-success is-large">
        <div class="modal" :class="[isActive ? 'is-active' : '']">
            <div class="modal-background" @click="closeModal"></div>
            <div class="modal-content">
                <form @submit="submitJob">
                    <div class="field">
                        <div class="control is-medium">
                            <input class="input is-medium is-focused" type="text" placeholder="Create A Job" name="JOB_NAME" v-model="job.name">
                        </div>
                    </div>
                </form>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
        </div>
    </section>
</template>

<script>
    export default {
        name : "JobNew",
        data(){
            return {
                isActive : false,
                job : {
                    name : "",
                }
            }
        },
        props : {
            active : {
                type : Boolean
            }
        },
        watch : {
            active: function (status) {
                status ? this.isActive = true : this.isActive = false
            }
        },
        computed : {
            computedId(){
                //if state is empty instantiate id as 0 else get the last inserted id
                let jobState = this.$store.state.job;
                return (jobState.length === 0) ? 0 : jobState[jobState.length - 1].id + 1
            }
        },
        methods : {
            closeModal(){
                this.isActive = false;
                this.job.name = ''
                this.$emit('modalClosed')
            },
            submitJob(evt){
                evt.preventDefault();

                //do validation

                //get date
                const d = new Date();
                const items = {
                    id : this.computedId,
                    name : this.job.name,
                    date : d.toDateString()
                };

                this.$store.dispatch('addJob', items)
                    .then(()=> {
                        //Reset fields after submit
                        this.job.name = ''
                    })
            }
        }
    }
</script>