<template>
    <div class="container is-fullhd">
        <nav-bar/>

        <!--<task-main></task-main>-->
        <router-view></router-view>
    </div>  
</template>

<script>
    import navBar from "./UiComponents/AppNav.vue"

    import taskMain from "./task/TaskMain.vue"

    export default {
        name : "App",
        components: {
            navBar,
            taskMain
        },
        computed: {

        },
        beforeCreate(){
            //storage.clear()
            const savedState = storage.get('state');
            console.log(savedState)
            //console.log(Object.keys(savedState).length)
            //Update state if there's previously stored state
            if( savedState !== undefined )this.$store.dispatch('updateState', savedState)

        }
    }
</script>