<template>
    <div>
      
  <nav class="navbar is-success">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <!--<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
      </a>
      <!--<div class="navbar-burger burger" data-target="navbarExampleTransparentExample" @click="isActive">
        <span></span>
        <span></span>
        <span></span>
      </div>-->
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu" :class="[menuActive ? 'is-active' : '']">
      <div class="navbar-end">
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            MENU
          </a>
          <div class="navbar-dropdown is-boxed is-right">
            <a class="navbar-item" href="#">
              NEW JOB
            </a>
            <a class="navbar-item" href="#">
              ALL JOBS
            </a>
            <a class="navbar-item" href="#">
              SETTINGS
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
    </div>  
</template>

<script>
export default {
    data(){
        return{
            menuActive: false
        }
    },
    methods : {
        isActive(){
            (this.menuActive===true)? this.menuActive= false : this.menuActive= true;
        }
    }

}
</script>

<style>

</style>