<template>
     <span class="is-pulled-right is-size-7" :class="[cardHovered ? '' : 'hidden']">
        <a><font-awesome-icon :icon="iconEdit" @click="enableEdit()" /></a>
        <a><font-awesome-icon :icon="iconDelete" @click="enableDelete(id)" /></a>
    </span>
</template>

<script>
    import faEdit from '@fortawesome/fontawesome-free-solid/faEdit'
    import faTrash from '@fortawesome/fontawesome-free-solid/faTrash'

    export default {
        props : {
            cardHovered : {
                type : Boolean
            },
            id : {
                type : Number
            }
        },
        computed : {
            iconEdit(){
                return faEdit
            },
            iconDelete(){
                return faTrash
            }
        },
        methods : {
            enableEdit(){
                this.$emit('edited')
            },
            enableDelete(id){
                this.$emit('deleted', id)
            }
        }
    }
</script>