<template>
    <section class="hero is-success is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    No Jobs Created
                </h1>
                <h2 class="subtitle">
                    Click the Menu to Start
                </h2>
            </div>
        </div>
    </section>
</template>