<template>
    <form @submit="submitList" style="width:100%">
        <p class="control has-icons-left">
            <input class="input is-small is-success" type="text" name="LIST_NAME" v-model="list.name" placeholder="Add Job list">
            <span class="icon is-small is-left">
                 <font-awesome-icon :icon="icon" />
            </span>
        </p>
    </form>
</template>

<script>
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import faEdit from '@fortawesome/fontawesome-free-solid/faEdit'
    //import Vuex from 'vuex'

    export default {
        components: {
            FontAwesomeIcon
        },
        props : {
            job_id : {
                type : Number
            }
        },
        data(){
            return {
                list : {
                    name : ""
                }
            }
        },
        computed: {
            icon () {
                return faEdit
            },
            computedId(){
                let listState = this.$store.state.list;
                return (listState.length === 0) ? 0 : listState[listState.length - 1].id + 1
            }
        },
        methods: {
            submitList (evt) {
                evt.preventDefault();

                //do validation
                const d = new Date();
                const items = {
                    id : this.computedId,
                    job_id : this.job_id,
                    name : this.list.name,
                    date : d.toDateString()
                }

                this.$store.dispatch('addList', items)
                    .then(()=> {
                        //Reset fields after submit
                        this.list.name = ''
                    })
            },
        }
    }
</script>


