<template>
    <span  @mouseover="showEditTrash" @mouseout="hideEditTrash" style="display: block; width: 100%">
        <span class="panel-icon">
          <font-awesome-icon :icon="iconDown" size="xs"/>
        </span>
        <span v-if=" edit.enabled === false ">
            {{ list.name }}

            <span class="is-pulled-right is-size-7" :class="[cardHovered ? '' : 'hidden']">
                <a><font-awesome-icon :icon="iconEdit" @click="enableEdit($event)" /></a>
                <a><font-awesome-icon :icon="iconDelete" @click="enableDelete($event,list.id)" /></a>
            </span>
            <span class="is-pulled-right is-size-7"> Tasks: {{taskCount}} Todos: {{taskTodoCount}}</span>
        </span>
        <form @submit="submitEdit($event, list.id)" v-else-if="edit.enabled === true" @click="onInput($event)">
                <input class="input is-success" type="text" name="EDIT_LIST_NAME" v-model="edit.name">
        </form>
    </span>
</template>

<script>
    import faList from '@fortawesome/fontawesome-free-solid/faList'
    import faEdit from '@fortawesome/fontawesome-free-solid/faEdit'
    import faTrash from '@fortawesome/fontawesome-free-solid/faTrash'

    export default{
        components : {

        },
        props : {
            list : {
                type : Object
            }
        },
        data(){
            return{
                active: false,
                edit : {
                    enabled : false,
                    name : this.list.name
                },
                cardHovered : false
            }
        },
        computed: {
            iconDown(){
                return faList
            },
            iconEdit(){
                return faEdit
            },
            iconDelete(){
                return faTrash
            },
            taskCount(){
                let tasks =  this.$store.getters.getTasks.filter((task)=> {return  task.list_id === this.id})
                return tasks.length
            },
            taskTodoCount(){
                let todosCount =  this.$store.getters.getTasks.filter((task)=> {return  task.list_id === this.id && task.status === "todo"})
                return todosCount.length
            }
        },
        methods : {
            onInput(evt){
                evt.preventDefault();
            },
            showEditTrash(){
                this.cardHovered = true
            },
            hideEditTrash(){
                this.cardHovered = false
            },
            enableEdit(evt){
                evt.preventDefault();
                this.edit.enabled = true
            },
            submitEdit(evt, id){
                evt.preventDefault();
                //dispatch edit
                this.$store.dispatch('updateList', {index:id, payload:this.edit.name}).then(()=>{
                        this.edit.name = '';
                        this.edit.enabled = false
                    }
                )
            },
            enableDelete(evt,id){
                evt.preventDefault();

                this.$store.dispatch('deleteList', id)
            }
        }
    }
</script>